* {
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;

    height: 100vh;

    font-size: 21px;
    font-family: arial, sans-serif;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
    margin-top: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15vh;
    margin-top: 5vh;
    background-color: #f45f3c;
    align-items: center;
    height: 90px;
}

header img {
    width: 300px;
    height: 150px;
}

.tel {
    font-size: .8em;
    color: #ffffff;
    margin-left: 2%;
    width: 33.33%
}

.tel a {
    color: #000000;
}
.logo img {
    max-height: 100%;
    max-width: 100%;
    height: 100px;
    width: 270px;
    color: #f45f3c;
    font-weight: 700;

}


.search {
    display: flex;
    justify-content: flex-end;
    font-size: .8em;
    align-items: center;
    margin-right: 2%;
    width: 33.33%
}
.search a {
    padding-right: 1em;

}
.search a i{
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #ffffff;
    transition: .2s linear;
}
.search a i:hover {
    transition: .2s linear;
    background-color: #ffffff;
    color: #f45f3c;
}

/*-----main--form-----*/
main {
    text-align: center;
}

main span {
    font-size: 12em;
}

.numbers p{
    margin-top: 3%;
    text-align: center;
    font-size: 7em;
    font-weight: bold;
    letter-spacing: .2em;
    text-transform: uppercase;
    background: repeating-linear-gradient(white, white 2px, #7AB4E2 2px, #7AB4E2 3px);
    
}

.btn {
    padding-top: 2em;
    width: 20%;
    margin: auto;
    text-align: center;
}
.btn a {
    width: 100px;
    height: 100px;
}

.btn a i{
    color: #f45f3c;
    font-size: 5em;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #c4c1c1;
    transition: .2s linear;
}

.btn a i:hover {
    transition: .2s linear;
    background-color: #f45f3c;
    color: #ffffff;
    border: 1px solid #f45f3c;
    transition: .2s linear;
}



/*------footer-----*/


footer {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f45f3c;
    height: 6vh;
    text-align: center;
    padding: 1em;
    font-size: .8em;
    color: #fff;
}
