* {
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;

    height: 100vh;
    height: 100%;
    font-size: 21px;
    font-family: arial, sans-serif;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
input {
    border:none;
    background-color: #fae1bb;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
    margin-top: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15vh;
    margin-top: 5vh;
    background-color: #f45f3c;
    align-items: center;
    height: 90px;
}

header img {
    width: 300px;
    height: 150px;
}

.tel {
    font-size: .8em;
    color: #ffffff;
    margin-left: 2%;
    width: 33.33%
}

.tel a {
    color: #000000;
}
.logo img {
    max-height: 100%;
    max-width: 100%;
    height: 100px;
    width: 270px;
    color: #f45f3c;
    font-weight: 700;

}


.search {
    display: flex;
    justify-content: flex-end;
    font-size: .8em;
    align-items: center;
    margin-right: 2%;
    width: 33.33%
}
.search a {
    padding-right: 1em;

}
.search a i{
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #ffffff;
    transition: .2s linear;
}
.search a i:hover {
    transition: .2s linear;
    background-color: #ffffff;
    color: #f45f3c;
}

/*-----main--form-----*/
main {
    margin-bottom: 10vh;
}

form {
    box-shadow: 1px 4px 43px -12px rgba(0,0,0,0.75);
    border-radius: 30px;
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    font-size: .7em;
    position: relative;
}

form div {
  padding: 0.4em;
}
.form-item span {
    width: 150px;
    text-align: right;
    display: inline-block;
}
.form-item label {
    padding-left: 5%;
}

.form-item .pappers span{
    width: 50px;
    padding-left:0;
}

.comments {

    height: 60px;
}

.button {
    padding: 10px 20px;
    margin: 3em 0 0 9em;
    background-color: #f45f3c;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: 0;
    transition: .2s linear;
}

.button:hover {
    transform: scale(1.2);
    transition: .2s linear;
}

textarea {
    width: 100%;

}





/*------footer-----*/


footer {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f45f3c;
    height: 6vh;
    text-align: center;
    padding: 1em;
    font-size: .8em;
    color: #fff;
}
